@using LeaveManagementSystem.Application.Services.LeaveRequests

@model IEnumerable<LeaveRequestReadOnlyVM>

@{
    ViewData["Title"] = "Leave Request List";
}

<h1>Request Leave</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Request Leave</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var className = string.Empty;
            if(item.LeaveRequestStatus == LeaveRequestStatusEnum.Pending)
            {
                className = "warning";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Approved)
            {
                className = "success";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Declined)
            {
                className = "danger";
            }
            else if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Canceled)
            {
                className = "dark";
            }
            <tr class="bg-light">
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDays)
                </td>
                <td>
                    <span class="badge rounded-pill bg-@className">@item.LeaveRequestStatus.ToString()</span>
                </td>
                <td>
                    @if(item.LeaveRequestStatus == LeaveRequestStatusEnum.Pending)
                    {
                        <button data-id="@item.Id" class="btn btn-danger" id="cancelBtn">Cancel</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="cancelForm" asp-action="Cancel">
    <input type="hidden" name="id" id="leaveRequestId"/>
</form>

@section Scripts{
    <script>
        $(function () {
            $('#cancelBtn').click(
                function (e) {
                    Swal.fire({
                        title: "Cancel leave request?",
                        text: "Are you sure you want to cancel this leave request?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, cancel it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#leaveRequestId').val(id);
                            $('#cancelForm').submit();
                        }
                    });
                }
            );
        });
    </script>
}